<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>注册 - 325论坛</title>
  <style>
    /* CSS样式，省略部分内容 */
  </style>
</head>
<body>
<div class="container">
  <h2>注册</h2>
  <form action="/register2" method="post" id="registerForm">
    <label for="username">学号:</label>
    <input type="text" id="username" name="studentId" required>

    <label for="password">密码:</label>
    <input type="password" id="password" name="password" required>

    <input type="submit" value="注册">
  </form>
</div>



</body>
</html>
